@using MyBlog.Business.Concrete.DTOs
@model LoginDto

<form asp-action="Login" method="post">
    <div asp-validation-summary="All">
    </div>
    <input placeholder="User Name" asp-for="@Model.UserName" /> <br />
    <input placeholder="Password" asp-for="@Model.Password" /> <br />
    <input placeholder="RememberMe" asp-for="@Model.RememberMe" /><span> Remember Me? </span> <br />
    <button>Giriş Yap</button>
</form>
