@model PostAddDto

<form asp-action="Create" method="post">
    <div asp-validation-summary="All">
    </div>
    <input placeholder="Title" asp-for="@Model.Title" /> <br />
    <input placeholder="Content" asp-for="@Model.Content" /> <br />
   <input type="hidden" asp-for="UserName" value="@User.Identity.Name" />
    <button>Ekle</button>
</form>