@model PostUpdateDto


<form asp-action="Edit" method="post">
    <div asp-validation-summary="All">
    </div>
    <input placeholder="Title" asp-for="@Model.Title" /> <br />
    <input placeholder="Content" asp-for="@Model.Content" /> <br />
    <input type="hidden" asp-for="@Model.Id" /> <br />
    

    <button>Güncelle</button>


</form>